@import url(../base/base.css);
.hstick{
    position: sticky;
    top: 0;
}
.header{
    display: flex;
    align-content: left;
    align-items: left;
    flex-wrap: wrap;
    height: 120px;
    font-size: 18px;
    line-height: 18px;
    color: var(--text-color);
    font-weight: bold;
}
.left-column{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    width: 50%;
}
.logolink {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    float: left;
    margin-left: 0;
    text-align: match-parent;
    vertical-align: middle;

}

.menu {
    float: left;
    margin-left: 0;
    height: 18px;
}
.menu.links {
    text-decoration: none;
    color: white;
    font-weight: lighter;
    margin: 0 0 0 30px ;

}
.menu.links:hover{
    color: var(#bf3737);
}
.right-column {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    width: 50%;
}